page{
  background: #fff;
  height: 100%;
}
.con{
  padding: 50rpx;
}

.title {
	left: 50rpx;
	top: 50rpx;
	height: 160rpx;
	width: 435rpx;
	color: rgba(16, 16, 16, 1);
	font-size: 50rpx;
	text-align: left;
	margin-bottom: 50px;
	line-height: 1.7em;
	font-family: PingFangSC-bold;
}

.title view:first-child  {
	height: 84rpx;
}

.login-form{
  margin: 0 auto;
  margin-bottom: 100rpx;
}
.item {
	display: block;
	margin-bottom: 34rpx;
}
.account{
  display: flex;
  background: #f8f8f8;
  padding: 15rpx;
	height: 90rpx;
  box-sizing: border-box;
  font-size: 28rpx;
  align-items: center;
}
.account input{
  padding-left: 20rpx;
  padding-right: 50rpx;
  width: 80%;
}
.account input.int-yzm {
  padding-right: 10rpx;
  box-sizing: border-box;
}
.inp-palcehoder{
  font-size: 28rpx;
	color: rgba(183, 183, 183, 1);;
}
.authorized-btn {
  margin: 0 auto;
  text-align: center;
	height: 90rpx;
  color: #fff;
  border-radius: 6rpx;
  font-size: 32rpx;
  padding: 8rpx;
  margin-top: 80rpx;
}

.authorized-btn-inactive {
	background-color: #DFDFDF%;
}

.authorized-btn-active {
	background-color: #3291F8;
}

/* 找回密码&去注册 */
.operate {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 28rpx;
}
.to-register {
	color: #00AAFF;
}
.forgot-password {
	color: #999999;
}

.to-idx-btn{
	width: 90%;
	margin: 0 auto;
	text-align: center;
	background-color: #eeeeee;
	color: #333;
	border-radius: 6rpx;
	font-size: 26rpx;
	padding: 8rpx;
	margin-top: 30rpx;
}
.form-title {
  width: 100%;
  margin-bottom: 50rpx;
  font-size: 32rpx;
  text-align: center;
  color: #00a0e9;
}

.input-btn {
  width: 152rpx;
  font-size: 26rpx;
  color: #00a0ea;
  text-align: center;
}

button::after{
  border: 0 !important;
}

/* 错误提示 */
.error .error-text {
	display: block;
	width: 100%;
	font-size: 28rpx;
	color: #e43130;
  text-align: left;
  margin-top: 10rpx;
}
.error .error-text .warning-icon {
  display: inline-block;;
  color: #fff;
  width: 26rpx;
  height: 26rpx;
  line-height: 26rpx;
  background: #e43130;
  border-radius: 50%;
  text-align: center;
  margin-right: 12rpx;
  font-size: 22rpx;
}